<%- include('../partials/header') %>

<%=url%>
<form action="" method="POST" >
    <label for="locationSelect" class="hidden">Select Location</label>
    <select name="locationId"id=locationSelect>
        <%possibleLocations.forEach(e=>{%>
           <option value="<%=e._id%>"><%=e.name%></option> 
        <%})%>
    </select>
<button type="submit" id="submitInitialQueryButton">Continue</button>

</form>
<%- include('../partials/footer') %>