<%- include('../partials/header') %>
<%requests.reverse().forEach(e=>{%>
    <li class="<%=e.status%>Request"> <img class="avatar" src="<%=e.requester.avatar%>""><%=e.requester.name%> Status: <%=e.status%> <br><%=e.contents%></li>
<%})%>
<%- include('../partials/footer') %>