<%- include('../partials/header') %>
<h2>Welcome to <%=locationName%></h2>
<%requests.reverse().forEach(e=>{%>
    <li class="<%=e.status%>Request"> 
        <img referrerpolicy="no-referrer" 
        class="avatar"
         src="<%=e.requester.avatar%>"
        <%=e.requester.name%> 
        <%if (e.location){%>
        Location: <%=e.location.name%> 
        <%}%>
        <br>
        <%=e.contents%> 
        <br>
        Status:<%=e.status%>
        <%if (authorizedUser && e.status === 'active'){%>
        <br>
        <form>
        <button formmethod="POST" formaction="/requests/<%=e._id%>/cancel?_method=PUT" class="opsButton opsButtonCancel">Cancel</button>
        <button formmethod="POST" formaction="/requests/<%=e._id%>/complete?_method=PUT" class="opsButton opsButtonComplete">Complete</button>
        <button formmethod="POST" formaction="/requests/<%=e._id%>/delete?_method=DELETE" class="opsButton opsButtonDelete">Delete</button>
        </form>
        <%}%>
    </li>
<%})%>
<%- include('../partials/footer') %>