<%- include('../partials/header') %>
<% requests.reverse().forEach(request => { %>
    <li class="<%= request.status %>Request">
        <img referrerpolicy="no-referrer" class="avatar" src="<%= request.requester.avatar %>">
        <%= request.requester.name %>
        <% if (request.location) { %>
            Location: <%= request.location.name %>
        <% } %>
        <br>
        <%= request.contents %>
        <div>Status: <%= request.status %></div>
        <% if (authorizedUser && request.status === 'active') { %>
            <form class="opsButtonForm">
                <button formmethod="POST" formaction="/requests/<%= request._id %>/cancel?_method=PUT" class="opsButton opsButtonCancel">Cancel</button>
                <button formmethod="POST" formaction="/requests/<%= request._id %>/complete?_method=PUT" class="opsButton opsButtonComplete">Complete</button>
                <button formmethod="POST" formaction="/requests/<%= request._id %>/delete?_method=DELETE" class="opsButton opsButtonDelete">Delete</button>
                <% if (request.servicers.map(servicer => servicer._id.toString()).includes(user._id.toString())) { %>
                    <button formmethod="POST" formaction="/requests/<%= request._id %>/drop?_method=PUT" class="opsButton opsButtonService">Drop</button>
                <% } else { %>
                    <button formmethod="POST" formaction="/requests/<%= request._id %>/take?_method=PUT" class="opsButton opsButtonService">Take</button>
                <% } %>
            </form>
            <textarea class="chat" readonly="true"></textarea>
        <input  type="text" placeholder="send a message" class="messageInput"><button class="sendButton">Send</button>
            Working this request:
            <% request.servicers.forEach(servicer => { %>
                <%= servicer.name %>
            <% }) %>
        <% } %>
    </li>
<% }) %>
<%- include('../partials/footer') %>