<%- include('./partials/header') %>
<% if (requests.length === 0){%>
<h2>How can we help you?</h1>

<form action="requests" method="POST" >
    <div class="textPadding">
        <textarea id="initialQuery" 
            maxlength="150" 
            autofocus="true" 
            placeholder="You must enter at least 8 characters"
            name="contents"></textarea>
    </div>
    <label for="locationInput" class="hidden">Select Location</label>
    <select name="locationId">
        <%possibleLocations.forEach(e=>{%>
           <option value="<%=e._id%>"><%=e.name%></option> 
        <%})%>
    </select>
<button type="submit" id="submitInitialQueryButton">Help Me</button>
<button class="employeeLoginButton" formaction="" type="submit" id="submitInitialQueryButton">Employee Login</button>

</form>
<%} else {%>
<h2>Welcome to Imaginary Mart</h2> 
<div class="userGrid">
<%users.forEach(e=>{%>
    <div class="userEntry"><img src="<%=e.avatar%>" class="avatar"><p><%=e.name%></p></div>
    <div class="userEntry"><img src="<%=e.avatar%>" class="avatar"><p><%=e.name%></p></div>
    <div class="userEntry"><img src="<%=e.avatar%>" class="avatar"><p><%=e.name%></p></div>
    <div class="userEntry"><img src="<%=e.avatar%>" class="avatar"><p><%=e.name%></p></div>
    <div class="userEntry"><img src="<%=e.avatar%>" class="avatar"><p><%=e.name%></p></div>
<%})%>
</div>
<p><strong>One of the <%=users.length%> helpers will be with you soon.</strong></p>
<%requests.forEach(e=>{%>
    <p>
    <div><%=e.requester.name%> : <%=e.contents%></div>
</p>
<%})%>
<form method="POST" action="/requests/<%=id%>/cancel?_method=PUT "><button class="cancelButton">Cancel</button></form>
<form method="POST" action="/requests/<%=id%>/complete?_method=PUT "><button >Got Helped</button></form>
<%}%>
<%- include('./partials/footer') %>
